<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
  <meta charset="utf-8">
  <title>Maven Search</title>
</head>
<body>
<div layout:fragment="content">
  <section class="section">
    <div class="container">
      <div class="field">
        <div class="control">
          <input class="input" type="text" name="q" id="q" placeholder="">
        </div>
      </div>
      <div class="field">
        <div class="control level-right">
          <button data-th-onclick="'javascript:search()'" class="button is-primary is-outlined">SEARCH</button>
        </div>
      </div>
    </div>
    <div class="container" data-if-if="${!maven.response.docs.empty()}">
      <table class="table is-hoverable is-fullwidth">
        <thead>
        <th>GroupId</th>
        <th>ArtifactId</th>
        <th>LatestVersion</th>
        <th>Time</th>
        <th>Timestamp</th>
        </thead>
        <tbody>
        <tr data-th-each="entry : ${maven.response.docs}">
          <td><a data-th-href="@{|/versions?g=${entry.groupId}&a=${entry.artifactId}|}">[[${entry.groupId}]]</a></td>
          <td>[[${entry.artifactId}]]</td>
          <td>[[${entry.latestVersion}]]</td>
          <td>[[${entry.dateTime}]]</td>
          <td>
              <time data-th-attr="datetime=${entry.timestamp}">[[${entry.timestamp}]]</time>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <script>
        function search() {
            var q = document.getElementById("q").value;
            location.href = "/?q=" + q;
        }
        document.getElementById("q")
          .addEventListener("keyup", function(event) {
              event.preventDefault();
              if (event.keyCode === 13) {
                  search();
              }
        });
    </script>
  </section>
</div>
</body>
</html>