<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
    <title>Maven Search</title>
    <link rel="stylesheet" data-th-href="@{/webjars/codemirror/5.33.0/lib/codemirror.css}"/>
    <script data-th-src="@{/webjars/codemirror/5.33.0/lib/codemirror.js}"></script>
    <script data-th-src="@{/webjars/codemirror/5.33.0/mode/xml/xml.js}"></script>
</head>
<body>
    <div layout:fragment="content">
        <section class="section">
            <div class="container">
                <h2 class="title">Maven</h2>
                <textarea class="textarea" id="xml" rows="5" data-th-utext="${maven}"></textarea>
            </div>
        </section>
        <script>
            var readOnlyCodeMirror = CodeMirror.fromTextArea(document.getElementById("xml"), {
                mode: "application/xml",
                lineNumbers: true,
                readOnly: true
            });
            readOnlyCodeMirror.setSize(600, 130);
        </script>
    </div>
</body>
</html>