<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
  <meta charset="utf-8">
  <title>Maven Search vvv</title>
</head>
<body>
<div layout:fragment="content">
  <section class="section">
    <div class="container">
      <table class="table is-hoverable is-fullwidth">
        <thead>
        <th>GroupId</th>
        <th>ArtifactId</th>
        <th>version</th>
        <th>Timestamp</th>
        </thead>
        <tbody>
        <tr data-th-each="entry : ${versions.response.docs}">
          <td><a data-th-href="@{|/xml?g=${entry.groupId}&a=${entry.artifactId}&v=${entry.version}|}">[[${entry.groupId}]]</a></td>
          <td>[[${entry.artifactId}]]</td>
          <td>[[${entry.version}]]</td>
          <td>[[${entry.timestamp}]]</td>
        </tbody>
        </tr>
      </table>
    </div>
  </section>
</div>
</body>
</html>