<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
  <meta charset="utf-8">
  <title>Maven Search</title>
</head>
<body>
<div layout:fragment="content">
  <section class="section">
    <div class="container">
      <table class="table is-hoverable is-fullwidth">
        <thead>
        <th>GroupId</th>
        <th>ArtifactId</th>
        <th>version</th>
        <th>dateTime</th>
        <th>Timestamp</th>
        </thead>
        <tbody>
        <tr data-th-each="entry : ${versions.response.docs}">
          <td><a data-th-href="@{|/maven?g=${entry.groupId}&a=${entry.artifactId}&v=${entry.version}|}">[[${entry.groupId}]]</a></td>
          <td>[[${entry.artifactId}]]</td>
          <td>[[${entry.version}]]</td>
          <td>[[${entry.dateTime}]]</td>
          <td>
            <time data-th-attr="datetime=${entry.timestamp}">[[${entry.timestamp}]]</time>
          </td>
        </tr>
        </tbody>
      </table>
      <nav class="pagination is-centered" role="navigation" aria-label="pagination">
        <ul class="pagination-list">
          <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
          <li><span class="pagination-ellipsis">&hellip;</span></li>
          <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
          <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a></li>
          <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
          <li><span class="pagination-ellipsis">&hellip;</span></li>
          <li><a class="pagination-link" aria-label="Goto page 86">86</a></li>
        </ul>
      </nav>
    </div>
  </section>
</div>
</body>
</html>