<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
    <title>Maven Search</title>
</head>
<body>
    <div layout:fragment="content">
        <section class="section">
            <div class="container">
                <h2 class="title">Maven</h2>
                <textarea onclick="btnClick(this);" class="textarea" rows="5">[[${xml}]]</textarea>
            </div>
        </section>
        <script>
            function btnClick (obj) {
                obj.select();
            }
        </script>
    </div>
</body>
</html>